@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@config '../../tailwind.config.js';


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  .font-feature-settings-cv11 {
    font-feature-settings: "cv11";
  }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.4s ease-out forwards;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
}

.animate-shake {
    animation: shake 0.2s ease-in-out 0s 2;
}

[x-cloak] {
    display: none !important;
}

/* Custom styling khusus untuk isi artikel berita */
.konten-artikel h2 {
    @apply text-lg font-bold text-gray-900 mt-8 mb-3 block;
}

.konten-artikel h3 {
    @apply text-base font-bold text-gray-900 mt-6 mb-2 block;
}

.konten-artikel p {
    @apply text-sm mb-4 leading-relaxed text-justify text-gray-700 ;
}

.konten-artikel ul {
    @apply text-sm list-disc ml-6 my-4 space-y-2 block;
}

.konten-artikel ol {
    @apply text-sm list-decimal ml-6 my-4 space-y-2 block;
}

.konten-artikel li {
    @apply text-sm pl-1 text-gray-700 text-justify leading-6;
}